
  <!-- Línea horizontal -->
<hr class="my-0">
<!-- Footer con fondo de color y centrado en contenido -->
<footer class="bg-body-tertiary text-center py-3">
    <!-- Contenedor principal del footer -->
    <div class="container d-flex flex-column justify-content-between align-items-center py-4">
        <!-- Lista de iconos de redes sociales -->
        <ul class="list-inline mb-4 d-flex align-items-center">
            <!-- Elemento de lista para el icono de Facebook -->
            <li class="list-inline-item px-3">
                <a href="#">
                    <img src="assets/icons/facebook.png" alt="Facebook Icon">
                </a>
            </li>
            <!-- Elemento de lista para el icono de Twitter -->
            <li class="list-inline-item px-3">
                <a href="#">
                    <img src="assets/icons/twitter.png" alt="Twitter Icon">
                </a>
            </li>
            <!-- Elemento de lista para el icono de Instagram -->
            <li class="list-inline-item px-3">
                <a href="#">
                    <img src="assets/icons/instagram.png" alt="Instagram Icon">
                </a>
            </li>
        </ul>
        
        <!-- Texto de derechos de autor -->
        <p class="mb-0">&copy; 2023 Equipo 6. Todos los derechos reservados.</p>
    </div>
</footer>
