<!-- Barra de navegación utilizando el sistema de componentes de navegación de Bootstrap -->
<nav class="navbar navbar-expand-lg bg-body-tertiary px-5">
    <div class="container-fluid">
        <!-- Enlace de la marca (logo) del sitio -->
        <a class="navbar-brand" href="#">
            <!-- Imagen del logo -->
            <img src="assets/svg/jira.svg" alt="Logo">
        </a>
        <!-- Botón de alternar para expandir o colapsar la barra de navegación en pantallas pequeñas -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenedor para los elementos de navegación -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Lista de elementos de navegación centrados en el navbar -->
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <!-- Elementos de navegación aquí -->
            </ul>
            <!-- Botón de inicio de sesión -->
            <button class="btn btn-outline-primary me-2" type="submit" style="width: 120px; "(click)="goToLogin()">LogIn</button>
            <!-- Botón de registro con margen -->
            <button class="btn btn-outline-secondary" type="submit" style="width: 120px;" (click)="goToRegister()">Register</button>

            
        </div>
        
    </div>
</nav>
