.content-container {
    position: relative;
}

.image-left {
    position: absolute;
    left: 0;
    top: 70%;
    transform: translateY(-50%);
    width: 400px; /* Ajusta el tamaño de la imagen */
}

.image-right {
    position: absolute;
    right: 0;
    top: 70%;
    transform: translateY(-50%);
    width: 400px; /* Ajusta el tamaño de la imagen */
}
