<!-- Componente de página de inicio -->
<div class="d-flex flex-column min-vh-100">
    <!-- Componente de navegación de la página de inicio -->
    <app-nav-init></app-nav-init>

    <!-- Contenido principal con color de fondo personalizado y opacidad -->
    <div class="content-container text-center" style="background-color: rgba(110, 98, 215, 0.8); flex-grow: 1;">
        <div class="container"> <!-- Contenedor adicional para el botón y el contenido principal -->
            <div class="d-flex justify-content-start mb-3">
                <button class="btn btn-primary" (click)="goBack()">Atrás</button>
            </div>
            
            <h1>Equipo Desarrollador</h1>
            
            <!-- Cards de imágenes -->
            <div class="row mt-4 justify-content-center">
                <!-- Primera card -->
                <div class="col-md-3">
                    <div class="card">
                        <img src="/assets/fotos/memo.jpeg" class="card-img-top" alt="Imagen 1">
                        <div class="card-body">
                            <p class="card-text">Jose Guillermo Escobar Flores <br> 21170173 <br> TIDSM 6A TN</p>
                        </div>
                    </div>
                </div>
                
                <!-- Resto de las cards... -->
                <div class="col-md-3">
                    <div class="card">
                        <img src="/assets/imagen1.jpg" class="card-img-top" alt="Imagen 1">
                        <div class="card-body">
                            <p class="card-text">Alan Cruz Martinez <br> 21170195 <br> TIDSM 6A TN </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/assets/fotos/jorge.jpg" class="card-img-top" alt="Imagen 1">
                        <div class="card-body">
                            <p class="card-text">Jorge Reyes Courpus <br> 21170214 <br> TIDSM 6A TN</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/assets/fotos/issac.jpeg" class="card-img-top" alt="Imagen 1">
                        <div class="card-body">
                            <p class="card-text">Cristo Issac Garcia Rivas <br> 20170026 <br> TIDSM 6A TN.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Imagen de fondo -->
            <img src="/assets/svg/equipo.svg" alt="Imagen de fondo" class="background-image">
        </div>
    </div>

    <!-- Componente de pie de página -->
    <app-footer></app-footer>
</div>
