<div class="d-flex flex-column min-vh-100">
    <!-- Componente de navegación -->
    <app-nav></app-nav>

    <!-- Contenido principal con color de fondo personalizado y opacidad -->
    <div class="content-container" style="background-color: rgba(110, 98, 215, 0.6); flex-grow: 1; position: relative; display: flex; flex-direction: column; align-items: center; padding: 20px;">
        <div class="container">
            <button class="btn btn-back" [routerLink]="'/dashboard'">
                <span class="btn-text">Atrás</span>
            </button>
            <h1 class="text-center mb-4">Sensor Humo</h1>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Sensor</th>
                            <th class="text-center">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let valor of valoresHumo; let i = index">
                            <td class="text-center">{{ i + 1 }}</td>
                            <td class="text-center">Humo</td>
                            <td class="text-center">{{ valor }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Componente de pie de página -->
    <app-footer></app-footer>
    
</div>
