.content-container {
    position: relative;
}

.image-left {
    position: absolute;
    left: 0;
    top: 63%;
    transform: translateY(-50%);
    width: 400px;
    /* Ajusta el tamaño de la imagen */
}