<div class="d-flex flex-column min-vh-100">
    <!-- Componente de navegación -->
    <app-nav-login></app-nav-login>

    <!-- Contenido principal con color de fondo personalizado y opacidad -->
    <div class="content-container" style="background-color: rgba(110, 98, 215, 0.6); flex-grow: 1; position: relative; display: flex; justify-content: center; align-items: center;">
        <!-- Imagen en el extremo izquierdo -->
        <img src="/assets/svg/log.svg" alt="Imagen izquierda" class="image-left">
        
        <!-- Formulario de inicio de sesión con borde personalizado -->
        <div class="card border-2 border-primary rounded" style="width: 300px; height: 400px; background-color: rgba(255, 255, 255, 0.8);">
            <div class="card-body">
                <!-- Imagen centrada en la parte superior -->
                <div style="text-align: center; margin-top: 20px;">
                    <img src="/assets/svg/logo1.svg" alt="Pequeña imagen" style="width: 50px; height: 50px;">
                </div>
                <h5 class="card-title text-center">Inicio de Sesión</h5>
                <form (ngSubmit)="EnvioDatos()" #loginForm="ngForm">
                    <div class="mb-3 text-center">
                        <label for="email" class="form-label">Correo Electronico</label>
                        <input type="email" [(ngModel)]="login.email" #emailField="ngModel"
                        class="form-control custom-input" name="email"
                        placeholder="Ingrese su correo electrónico" [required]="true" email>
                    <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)"
                        class="error-message">
                        <p class="text-center text-danger" *ngIf="emailField.errors?.['required']">El correo
                            electrónico es requerido.</p>
                        <p class="text-center text-danger" *ngIf="emailField.errors?.['email']">El correo
                            electrónico no es válido.</p>
                    </div>
                    </div>
                    <div class="mb-3 text-center">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" [(ngModel)]="login.password" #passwordField="ngModel"
                        class="form-control custom-input" name="password" placeholder="Ingrese su contraseña"
                        required>
                    <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)"
                        class="error-message">
                        <p class="text-center text-danger" *ngIf="passwordField.errors?.['required']">La contraseña
                            es requerida.</p>
                    </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        <div *ngIf="error" class="error-message">
                            <p class="text-center text-danger">{{ error }}</p>
                        </div>
                        <button type="button" class="btn btn-secondary mt-2" (click)="goBack()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- Imagen en el extremo derecho -->
        <img src="/assets/svg/log2.svg" alt="Imagen derecha" class="image-right">
    </div>

    <!-- Componente de pie de página -->
    <app-footer></app-footer>
</div>
