<div class="d-flex flex-column min-vh-100">
    <!-- Componente de navegación -->
    <app-nav></app-nav>
    <!-- Contenido principal con color de fondo personalizado y opacidad -->
    <div class="content-container"
        style="background-color: rgba(110, 98, 215, 0.6); flex-grow: 1; position: relative; display: flex; flex-direction: column; align-items: center; padding: 20px;">
        <div class="container">
            <button class="btn btn-back" [routerLink]="'/dashboard'">
                <span class="btn-text">Atrás</span>
            </button>
            <h1 class="text-center mb-4"
                style="font-family: Arial, sans-serif; font-weight: bold; font-size: 24px;">Sensor Alcohol</h1>
            <!-- Filtro de búsqueda -->
           <!--  <div class="row mb-3">
                <div class="col-md-4 offset-md-4 d-flex justify-content-center">
                    <div class="input-group">
                        <input type="date" id="fechaBusqueda" [(ngModel)]="fechaBusqueda"
                            style="width: 150px; border-radius: 8px; border: 1px solid #ccc; padding: 5px 10px;">

                        <div class="input-group-append">
                            <button class="btn btn-primary" style="border-radius: 8px; margin-left: 10px;"
                                (click)="buscarPorFecha()">Buscar</button>
                        </div>
                    </div>
                </div>
            </div> -->

            <hr class="my-3"> <!-- Separador horizontal -->

            <!-- Tabla de valores -->
            <div class="table-container p-4">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover custom-table-border">
                        <thead class="thead-custom">
                            <tr>
                                <th class="text-center bg-custom">#</th>
                                <th class="text-center bg-custom">Sensor</th>
                                <th class="text-center bg-custom">Valor</th>
                                <th class="text-center bg-custom">Unidades</th>
                                <th class="text-center bg-custom">Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let valor of (fechaBusqueda ? valoresFiltrados : valoresAlcohol); let i = index"
                                class="align-middle">
                                <td class="text-center">{{ i + 1 }}</td>
                                <td class="text-center">Alcohol</td>
                                <td class="text-center">{{ valor.valor }}</td>
                                <td class="text-center">Grados</td>
                                <td class="text-center">{{ valor.fecha }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Componente de pie de página -->
    <app-footer></app-footer>
</div>
