.content-container {
  position: relative;
  z-index: 1;
}

.table {
  margin-bottom: 1rem;
}

.image-right-behind {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%; /* Hace que la imagen sea responsiva */
  width: auto; /* Evita que la imagen se estire en pantallas pequeñas */
  z-index: 0;
}
