<div class="d-flex flex-column min-vh-100">
    <!-- Componente de navegación de la página de inicio -->
    <app-nav-init></app-nav-init>

    <!-- Contenido principal con color de fondo personalizado y opacidad -->
    <div class="content-container">
        <!-- Texto justificando la página -->
        <div class="text-container">
            <h2>Bienvenido a Jira Software</h2>
            <p>Proyecto integrador de la materia de IoT y Aplicaciones Web 4.0. Nuestro dispositivo de control del aire está equipado con 6 sensores para brindar información precisa sobre la calidad del aire que nos rodea.</p>
        </div>
        
        <!-- Imagen de fondo -->
        <img src="/assets/svg/offline.svg" alt="Imagen de fondo" class="background-image">
        
        <!-- Enlace "Equipo" -->
        <div class="text-center mt-4">
            <a routerLink="/equipo" class="team-link">Equipo</a>
        </div>
    </div>

    <!-- Componente de pie de página -->
    <app-footer></app-footer>
</div>
